<div class="filter js-filter bg--white">

	<div class="filter-row" id="config-head">

		<div class="filter-wrap">

			<div class="filter-layout">

				<div class="filter-aside">

					<div class="filter-node">
						<a href="#" class="button button--red button-filter js-filter-toggle">
							<svg viewBox="0 0 200 200"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-filter"></use></svg>
							<span>Все фильтры</span>
						</a>
						<a href="#" class="button button--red button-filter button-filter-close js-filter-toggle">
							<svg viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-close"></use></svg>
							<span>Скрыть фильтр</span>
						</a>
					</div>

				</div>

				<div class="filter-selects">

					<div class="filter-node xxxfilter-select">
						<label class="filter-label">Тип устройства</label>
						<div class="filter-ctrl">
							<select data-select-type>
								<option value="Все">Все</option>
								<option value="Некоторые">Некоторые</option>
							</select>
						</div>
					</div>

					<div class="filter-node">
						<label class="filter-label">Линейка</label>
						<div class="filter-ctrl">
							<select data-select-line>
								<option value="Все">Все</option>
								<option value="Некоторые">Некоторые</option>
							</select>
						</div>
					</div>

				</div>

				<div class="filter-aside align-right">
					<div class="filter-node">
						<div class="filter-sort">
							<a href="#" class="link--arrow-down">
								<span>Сортировать</span>
							</a>
							<div class="submenu">
								<div class="submenu-in">
									<p><a href="#">По дате добавления</a></p>
									<p><a href="#">По популярности</a></p>
									<p><a href="#">По названию</a></p>
									<p><a href="#">По возрастанию цены</a></p>
									<p><a href="#">По убыванию цены</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="filter-full js-filter-full">
		<div class="filter-row filter-full-in" id="config-main">
			<div class="filter-wrap">

				<div class="flex-row">
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Форм-фактор пультов</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Настенные</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Переносные</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>На кольцо</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">К-во каналов пульта</div>
							<div class="filter-ctrl">
								<select data-select>
									<option value="Все">Все</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Способ монтажа исполнителя команд</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Есть</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Объекты управления</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Роллета</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Освещение</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Гаражные ворота</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Влагозащита</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Есть</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Влагозащита</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Есть</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Влагозащита</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Есть</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Влагозащита</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Есть</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Влагозащита</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Есть</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<div class="filter-group">
							<div class="filter-group-title">Влагозащита</div>
							<ul>
								<li>
									<label>
										<input type="checkbox" name="" id="">
										<span>Есть</span>
									</label>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="filter-row filter-full-footer" id="config-foot">
			<a href="#" class="ico-link link--red filter-reset js-filter-reset">
				<svg viewBox="0 0 200 200"><use xlink:href="#ico-reset"></use></svg>
				<span>Очистить</span>
			</a>
		</div>

	</div>

</div>