<div class="cu-form-wrap" id="form_faq">
	<form action="#" class="cu-form cu-form--narrow">

		<div class="form-row flex-row form-header">
			<div class="col-xs center-xs">
				Задать вопрос
			</div>
		</div>

		<div class="form-row flex-row">
			<div class="col-xs">
				<input type="text" placeholder="Имя" required="">
				<div class="required">*</div>
			</div>
		</div>

		<div class="form-row flex-row">
			<div class="col-xs">
				<input type="email" placeholder="Эл. почта" required="">
				<div class="required">*</div>
			</div>
		</div>

		<div class="form-row flex-row">
			<div class="col-xs">
				<textarea placeholder="Сообщение" required=""></textarea>
				<div class="required">*</div>
			</div>
		</div>

		<div class="form-row flex-row form-footer">
			<div class="col-xs center-xs">
				<p><button type="submit" class="button button--big button--white button-hover--bgblack">Отправить</button></p>
				<div class="cu-form-note">* Поля обязательные для заполнения</div>
			</div>
		</div>

	</form>
</div>