<header class="l-header l-header-inner header-is-white">
	<div class="header-col">
		<a href="index.html" class="logo">
			<svg class="ico-lang" viewBox="0 0 380.6 76.2">
				<use xlink:href="#ico-logo"></use>
			</svg>
		</a>
	</div>
	<div class="header-col">
		<div class="menu-button js-menu-toggle">
			<div class="ico-menu">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
			</div>
		</div>
	</div>
	<div class="header-col">
		<nav class="topnav" role="navigation">
			<ul>
				<li class="t-arrow">
					<a href="#">Направления</a>
					<div class="submenu">
						<div class="submenu-in">
							<p><a href="smart-accounting.html">Умный учет</a></p>
							<p><a href="http://old.neroelectronics.by/" target="_blank">Автоматика для роллет <small>(старый сайт)</small></a></p>
							<p><a href="smart-home.html">Умный дом</a></p>
						</div>
					</div>
				</li>
				<li class="t-arrow"><a href="catalog-entry.html" id="topnav-catalog-link">Каталог</a></li>
				<li><a href="about.html">О компании</a></li>
				<li><a href="dealers.html">Где купить</a></li>
				<li><a href="contact.html">Контакты</a></li>
				<li class="t-arrow">
					<a href="#">Техподдержка</a>
					<div class="submenu">
						<div class="submenu-in">
							<p><a href="support-faq.html">Вопрос-ответ</a></p>
							<p><a href="support-files.html">Файлы для скачивания</a></p>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>

	<div class="header-aside">
		<div class="header-col">
			<div class="h-region-current js-region-current">
				<ul>
					<li class="t-arrow">
						<a href="#" class="js-region-result region-result"><i class="ico-flag"><img src="i/icons/flag-by.png" alt=""></i><span class="js-result-name region-result-name">Беларусь</span></a>
						<div class="h-region-list">
							<div class="h-region-in">
								<div class="h-region-in-list">
									<p><a href="#" class="is-active"><i class="ico-flag"><img src="i/icons/flag-by.png" alt=""></i><span class="js-name">Беларусь</span></a></p>
									<p><a href="#"><i class="ico-flag"><img src="i/icons/flag-ua.png" alt=""></i><span class="js-name">Украина</span></a></p>
									<p><a href="#"><i class="ico-flag"><img src="i/icons/flag-ru.png" alt=""></i><span class="js-name">Россия (Москва)</span></a></p>
									<p><a href="#"><i class="ico-flag"><img src="i/icons/flag-ru.png" alt=""></i><span class="js-name">Россия (Санкт-Петербург)</span></a></p>
								</div>
								<div class="h-region-language">
									Change language: <a href="#eng">ENG</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="header-col">
			<a href="#" class="h-ico h-user">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px" height="382.5px" viewBox="0 0 400 382.5" enable-background="new 0 0 400 382.5" xml:space="preserve">
					<path d="M244.1,213.8c31.7-18.7,53.4-56.8,53.4-100.8c0-62.4-43.6-113-97.4-113s-97.4,50.6-97.4,113
					c0,43.9,21.6,81.9,53,100.6C27.7,226.4,0,297.2,0,382.5h400C400,297.5,366,227,244.1,213.8z"/>
				</svg>
			</a>
		</div>

		<div class="header-col">
			<a href="register.html" class="h-ico h-basket h-basket--notempty">
				<svg class="ico-basket" viewBox="285.2 46.1 389.5 355.8">
					<path d="M439.2 328.9c-20.1 0-36.5 16.4-36.5 36.5s16.4 36.5 36.5 36.5 36.5-16.4 36.5-36.5-16.3-36.5-36.5-36.5zm0 50.6c-7.8 0-14.1-6.3-14.1-14.1s6.3-14.1 14.1-14.1 14.1 6.3 14.1 14.1-6.3 14.1-14.1 14.1zm117.4-50.6c-20.1 0-36.5 16.4-36.5 36.5s16.4 36.5 36.5 36.5 36.5-16.4 36.5-36.5-16.4-36.5-36.5-36.5zm0 50.6c-7.8 0-14.1-6.3-14.1-14.1s6.3-14.1 14.1-14.1 14.1 6.3 14.1 14.1-6.4 14.1-14.1 14.1zm116.1-244.8c-2.1-3-5.5-4.7-9.1-4.7H369l-19.8-75.6c-1.3-4.9-5.7-8.4-10.8-8.4h-42c-6.2 0-11.2 5-11.2 11.2 0 6.2 5 11.2 11.2 11.2h33.3l63.6 242.7c1.3 4.9 5.7 8.4 10.8 8.4h203.5c6.2 0 11.2-5 11.2-11.2 0-6.2-5-11.2-11.2-11.2H412.8l-8.1-30.8h219c4.8 0 9-3 10.6-7.5l39.9-114c1.1-3.3.6-7.1-1.5-10.1zM615.8 244H398.9l-24-91.6h272.9l-32 91.6z"/>
				</svg>
				<span>5</span>
			</a>
			<span class="basket-price">
				10 500 р
			</span>
		</div>
	</div>

	<!-- <div class="header-col">
		<a href="#" class="h-ico h-search">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="394.7px" height="394.7px" viewBox="282.6 26.6 394.7 394.7" enable-background="new 282.6 26.6 394.7 394.7" xml:space="preserve">
			<path d="M677.4,396L577.1,295.8c52.2-64.9,48.3-160.4-12-220.7c-31.3-31.3-72.8-48.5-117-48.5
				c-44.2,0-85.8,17.2-117,48.5c-31.3,31.3-48.5,72.8-48.5,117s17.2,85.8,48.5,117c31.3,31.3,72.8,48.5,117,48.5  c38.2,0,74.4-12.9,103.7-36.5L652,421.3L677.4,396z M448.1,321.8c-34.6,0-67.2-13.5-91.7-38c-24.5-24.5-38-57-38-91.7
				s13.5-67.2,38-91.7c24.5-24.5,57-38,91.7-38c34.6,0,67.2,13.5,91.7,38c50.5,50.5,50.5,132.8,0,183.3
				C515.3,308.3,482.8,321.8,448.1,321.8z"/>
			</svg>
		</a>
	</div> -->

	<div class="topnav-catalog" id="topnav-catalog">

		<div class="maxwrap">
			<div class="flex-row">
				<div class="col-xxs-12 col-xs-6 col-sm-4">
					<div class="tc-box">
						<a href="#" class="tc-title">
							<svg class="cnav-1" viewBox="0 0 84.3 103">
								<use xlink:href="#cnav-1"></use>
							</svg>
							<span>Умный учет</span>
						</a>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-4">
					<div class="tc-box">
						<a href="#" class="tc-title">
							<svg viewBox="0 0 103.4 92.9">
								<use xlink:href="#cnav-3"></use>
							</svg>
							<span>Умный дом</span>
						</a>
					</div>
				</div>
				<div class="col-xxs-12 col-xs-6 col-sm-4">
					<div class="tc-box">
						<a href="#" class="tc-title">
							<svg viewBox="0 0 107.6 98">
								<use xlink:href="#cnav-2"></use>
							</svg>
							<span>Автоматика для роллет</span>
						</a>
						<ul class="tc-menu">
							<li><a href="#">Управление с радиоультов</a></li>
							<li><a href="#">Управление с пультов PLC</a></li>
							<li><a href="#">Управление с механических выключателей</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

</header>

<div class="region-select js-region-select">
	<div class="rs-section js-region-dialog" style="display: none;">
		<div class="rs-section-close js-region-select-close">
			<svg class="ico-close" viewBox="0 0 32 32">
				<use xlink:href="#ico-close"></use>
			</svg>
		</div>
		<h4>Ваш регион <span class="js-region-suggest"></span>?</h4>
		<p><a href="http://habr.com" class="button button--wide button--bgred js-button-submit">Да, Верно</a></p>
		<p><button class="button button--wide button--red js-button-switch">Выбрать регион</button></p>
	</div>
	<div class="rs-section js-region-list" style="display: none;">
		<div class="rs-section-close js-region-list-close">
			<svg class="ico-close" viewBox="0 0 32 32">
				<use xlink:href="#ico-close"></use>
			</svg>
		</div>
		<h4>Выбор региона</h4>
		<div class="h-region-in">
			<p><a href="#by" class="js-name"><i class="ico-flag"><img src="i/icons/flag-by.png" alt=""></i><span>Беларусь</span></a></p>
			<p><a href="#ua" class="js-name"><i class="ico-flag"><img src="i/icons/flag-ua.png" alt=""></i><span>Украина</span></a></p>
			<p><a href="#ru1" class="js-name"><i class="ico-flag"><img src="i/icons/flag-ru.png" alt=""></i><span>Россия (Москва)</span></a></p>
			<p><a href="#ru2" class="js-name"><i class="ico-flag"><img src="i/icons/flag-ru.png" alt=""></i><span>Россия (Санкт-Петербург)</span></a></p>
		</div>
		<div class="h-region-footer">
			<a href="#" class="button button--bgred button--arrow js-result"><span>Продолжить</span> <span class="hide-480">с новым регионом</span></a>
		</div>
	</div>
</div>