<div class="popup-wrap js-popup">
	<div class="popup-close js-popup-close">
		<svg class="svg" height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg">
			<path class="path" d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z" />
		</svg>
	</div>
	<div class="popup-table">
	<div class="popup-cell">
	<div class="popup box-shadow">
		<div class="popup-content js-popup-content">
			<!-- content inserts here -->
		</div>
	</div>
	</div>
	</div>
</div>

<!-- телефоны -->
<script id="tmpl-video" type="text/x-jquery-tmpl">
</script>