<div class="p-card__visual">

	<script>
		var pCardItems = [{
			'src': 'userimg/pult1.png',
			'thumb': 'userimg/pult1.png',
			'skin' : '#fff'
		}, {
			'src': 'userimg/pult2.png',
			'thumb': 'userimg/pult2.png',
			'skin' : '#000'
		}, {
			'src': 'userimg/pult2.png',
			'thumb': 'userimg/pult2.png',
			'skin' : '#000'
		}, {
			'src': 'userimg/pult2.png',
			'thumb': 'userimg/pult2.png',
			'skin' : '#000'
		}, {
			'src': 'userimg/pult3.png',
			'thumb': 'userimg/pult3.png',
			'skin' : '#fff'
		}, {
			'src': 'userimg/pult3.png',
			'thumb': 'userimg/pult3.png',
			'skin' : '#fff'
		}, {
			'src': 'userimg/pult4.png',
			'thumb': 'userimg/pult4.png',
			'skin' : '#000'
		}, {
			'src': 'userimg/compl1.png',
			'thumb': 'userimg/compl1.png',
			'skin' : '#fff'
		}, {
			'src': 'userimg/compl2.png',
			'thumb': 'userimg/compl2.png',
			'skin' : '#16a563'
		}, {
			'src': 'userimg/compl3.png',
			'thumb': 'userimg/compl3.png',
			'skin' : '#16a563'
		}, {
			'src': 'userimg/compl4.png',
			'thumb': 'userimg/compl4.png',
			'skin' : '#16a563'
		}, {
			'src': 'userimg/compl2.png',
			'thumb': 'userimg/compl2.png',
			'skin' : '#16a563'
		}]
	</script>

	<div class="p-card__gallery">

		<div class="js-cardgallery-opener p-card-plus"></div>

		<div class="card-slider js-card-slider">
			<!-- tmpl.js.render -->
		</div>
	</div>

	<div class="p-card__nav">
		<div class="card-slider-nav js-card-slider-nav">
			<!-- tmpl.js.render -->
		</div>
	</div>


</div>