<div class="sidebar">

	<div class="sidebar-header flex-row middle-xs">
		<div class="col-xs center-xs">
			<a href="#" class="logo">
				<svg class="ico-logo" viewBox="0 0 380.6 76.2">
					<use xlink:href="#ico-logo"></use>
				</svg>
			</a>
		</div>
	</div>

	<div class="menu-button is-active js-menu-toggle">
		<div class="ico-menu">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
	</div>

	<div class="sidebar-in">

		<ul class="sidemenu">
			<li>
				<a href="#">Направления</a>
				<ul>
					<li><a href="smart-home.html">Умный дом</a></li>
					<li><a href="smart-accounting.html">Умный учет</a></li>
					<li><a href="pdf/katalog-2015-postranichno_7a350.pdf" target="_blank">Автоматика для роллет</a></li>
				</ul>
			</li>
			<li>
				<a href="about.html">О компании</a>
			</li>
			<li class="is-active">
				<a href="dealers.html">Где купить</a>
			</li>
			<li>
				<a href="contact.html">Контакты</a>
			</li>

		</ul>

	</div>
</div>