<div class="filter filter-vacancy">

	<div class="filter-row">

		<div class="filter-wrap">

			<div class="filter-node">
				<label class="filter-label">Страна:</label>
				<div class="filter-ctrl">
					<select data-select>
						<option value="Все страны">Все страны</option>
						<option value="Россия">Россия</option>
						<option value="Беларусь">Беларусь</option>
					</select>
				</div>
			</div>

			<div class="filter-node">
				<label class="filter-label">Фильтр по:</label>
				<select data-select>
					<option value="Все страны">Все команды</option>
					<option value="Россия">Бухгалтерия</option>
				</select>
			</div>

		</div>

	</div>

</div>